/*** override rc-steps component ***/


.rc-steps-icon {
  display: none !important;
}


.table thead th {
  border-top: none;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #aaa;
}

.table tbody td {
  white-space: nowrap;
}


.course-header {
  span { display: block; font-size: 14px; font-weight: normal; }

  input[type=checkbox] {
    position: absolute;
    top: 12px;
    right: 10px;
  }

}

.course-add-code {
  position: absolute;
  top: 20px;
  right: 15px;
}
