/*** override rc-steps component ***/


.rc-steps-icon {
  display: none !important;
}


.table thead th {
  border-top: none;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #aaa;
}

.table {

  .badge { font-weight: normal; text-transform: uppercase;}

  .half-cell { width: 48%; }
  .section-cell { width: 20px; display: inline-block; }


  .meeting-time { white-space: nowrap; }
  .boop { display: inline-block; min-width: 60px; white-space: nowrap; }
  .blah { display: inline-block; min-width: 55%; text-align: center; white-space: nowrap; }
  .beep { display: inline-block; min-width: 60px; white-space: nowrap; color: #666; text-align: right; }
}


.course-card {
  border: solid 1px #ddd !important;
  padding: 10px !important;
  border-radius: .25rem !important;
  margin-bottom: 10px;
}

.course-header {

  .course-name { font-size: 14px; font-weight: normal; }

  input[type=checkbox] {
    position: absolute;
    top: 14px;
    right: 10px;
  }

}

input[type=text] {
  height: 27px !important;
}
.add-code-required { position: absolute; top: 30px; right: 18px; font-size: 11px; }
.add-code {
  white-space: nowrap;
  font-size: 11px;
}


.credit-total {
  position: absolute;
  top: 15px;
  right: 10px;
}


.issues-alert {
  font-size: 13px;

  a { color: #843534; font-weight: bold; }
}

.tba { color: #aaa; font-size: 13px; }
